/* reset */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
img{
    max-width:100%;
}

html{
    font-family: "Roboto", sans-serif;
}

/* general */
a{
    text-decoration:none;
    color:white;
    font-size:0.9rem;
    font-weight:bold;
}

.txt-right{
    text-align:right;
}


/* header */
header{
    background-color:#FF6900;
}
.hdr-container{
    display:flex;
    width:1000px;
    margin:0 auto;
}

.column1-4{
    width:calc(100% / 4)
}

.column2-4{
    width:calc((100% / 4) * 2);
    text-align:center;
}

.hdr-container .column1-4 > ul > li{
    display:inline-block;
    list-style:none;
    padding:10px 5px;
}

.logo{
    height:40px;
    padding: 10px 0;
}




/* main */

.row{
    display:flex;
    width:1000px;
    margin:auto;
    flex-wrap:wrap;

}

.column1-3{
    width:calc((100% / 3) - 20px);
    margin:40px 10px;
    cursor:pointer;
}

.img-container > img{
    position:absolute;
    top:0;
    right:0;
    width:100%;
    height:100%;
    object-fit:contain;
}


.img-container{
    position:relative;
    height:500px;
}

.hover-img{
    position:absolute;
    top:0;
    right:0;
    opacity:0;
    transition:2s;
}

.discount-box{
    position:absolute;
    z-index:1;
    bottom:40px;
}

.discount-box > *{
    display:inline-block;
    font-size:0.8rem;
}

.info-container{
    padding:5px 10px;
    color:white;
}

.discount{
    background-color:red;
}

.abt{
    background-color:green;
}

.img-container:hover .hover-img{
    opacity:1;
}

.fav{
    position:absolute;
    right:30px;
    top:40px;
    font-size:1.3rem;
    cursor:pointer;
}

.fav:hover{
    color:red;
}








/* footer */


/* debug */

/* .debug header .hdr-container{

    border:3px solid black;
}

.debug header .hdr-container > *{
    background-color:red;
    border:1px dashed blue;

} */
.debug main .container .row{
    background-color:red;

}

.debug main .container .row > .column1-3{
    background-color:purple;
    border: 1px solid black;

}


